<nav class="navbar navbar-toggleable-md navbar-light bg-faded" style="background-color: #ffde00">

  <a class="navbar-brand" href="#"><strong>Test input form</strong></a>

  <div class="navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="onSelectedHeader('input')"><strong>Input Form</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="onSelectedHeader('list')"><strong>Link</strong></a>
      </li>
    </ul>
  </div>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" appToggleCollapse>
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
